src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="${api.path}" doc:name="HTTP" />
        <set-session-variable variableName="uuid" value="#[java.util.UUID.randomUUID().toString()]" doc:name="Set UUID Session Variable" />
        <apikit:router config-ref="api-config" doc:name="APIkit Router" />
        <!-- <exception-strategy ref="apiChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/> -->
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="api-config" doc:name="APIkit Console" />
    </flow>
    <!-- <flow name="put:/creditCard/{id}:application/json:api-config">
    	<flow-ref name="updateCreditCard"  doc:name="updateCreditCard"/>
    </flow>
   <flow name="put:/customer/{id}:application/json:api-config">
        <flow-ref name="updateCustomer" doc:name="updateCustomer" />
    </flow> -->
    <flow name="get:/customer:api-config">
        <set-payload value="[&#xA;  {&#xA;    &quot;organizationCode&quot;: &quot;HRAC&quot;,&#xA;    &quot;customerType&quot;: &quot;IND&quot;,&#xA;    &quot;id&quot;: &quot;123456&quot;,&#xA;    &quot;customerName&quot;: {&#xA;      &quot;honorificPrefix&quot;: &quot;Mr.&quot;,&#xA;      &quot;firstName&quot;: &quot;John&quot;,&#xA;      &quot;addiyionalName&quot;: &quot;L&quot;,&#xA;      &quot;lastName&quot;: &quot;Smith&quot;&#xA;    },&#xA;    &quot;phoneNumbers&quot;: [{&#xA;      &quot;phoneId&quot;: &quot;123&quot;,&#xA;      &quot;phoneNumber&quot;: &quot;111-222-3333&quot;,&#xA;      &quot;phoneType&quot;: &quot;MOBILE&quot;,&#xA;      &quot;countryCode&quot;: &quot;US&quot;&#xA;    }],&#xA;    &quot;email&quot;: [{&#xA;      &quot;emailId&quot;: &quot;123&quot;,&#xA;      &quot;emailAddress&quot;: &quot;a@abc.com&quot;,&#xA;      &quot;preferredEmail&quot;: true,&#xA;      &quot;emailType&quot;: &quot;HOME&quot;&#xA;    }],&#xA;    &quot;addresses&quot;: [&#xA;      {&#xA;              &quot;addressId&quot;: &quot;123&quot;,&#xA;                  &quot;addressType&quot;: &quot;HOME&quot;,&#xA;                  &quot;addressLine1&quot;: &quot;123 Street&quot;,&#xA;                  &quot;city&quot;: &quot;Estero&quot;,&#xA;                  &quot;postalCode&quot;: &quot;33999&quot;,&#xA;                  &quot;state&quot;: &quot;FL&quot;,&#xA;        &quot;country&quot;: &quot;US&quot;      &#xA;      }&#xA;    ],&#xA;    &quot;companyInfo&quot;: [&#xA;      {&#xA;        &quot;companyName&quot;: &quot;Bank of America&quot;,&#xA;        &quot;cdp&quot;: &quot;BOA123&quot;&#xA;      }],&#xA;    &quot;birthDate&quot;: &quot;1985-10-30&quot;,&#xA;    &quot;driverLicense&quot;:{&#xA;      &quot;licenseNumber&quot;: &quot;ABPT00901&quot;,&#xA;      &quot;expDate&quot;: &quot;2018-01-20&quot;,&#xA;      &quot;issuedState&quot;: &quot;WA&quot;,&#xA;      &quot;issuedCountry&quot;: &quot;US&quot;&#xA;    },&#xA;    &quot;spouseName&quot;: {&#xA;      &quot;honorificPrefix&quot;: &quot;Mrs.&quot;,&#xA;      &quot;firstName&quot;: &quot;Jill&quot;,&#xA;      &quot;lastName&quot;: &quot;Smith&quot;&#xA;    },&#xA;    &quot;contactOption&quot;: &quot;email&quot;,&#xA;    &quot;shareInfo&quot;: false&#xA;  },&#xA;  {&#xA;    &quot;organizationCode&quot;: &quot;HRAC&quot;,&#xA;    &quot;customerType&quot;: &quot;IND&quot;,&#xA;    &quot;id&quot;: &quot;623981&quot;,&#xA;    &quot;customerName&quot;: {&#xA;      &quot;honorificPrefix&quot;: &quot;Mr.&quot;,&#xA;      &quot;firstName&quot;: &quot;Alex&quot;,&#xA;      &quot;lastName&quot;: &quot;Rod&quot;&#xA;    },&#xA;    &quot;phoneNumbers&quot;: [{&#xA;      &quot;phoneId&quot;: &quot;123&quot;,&#xA;      &quot;phoneNumber&quot;: &quot;555-222-3399&quot;,&#xA;      &quot;phoneType&quot;: &quot;MOBILE&quot;,&#xA;      &quot;countryCode&quot;: &quot;US&quot;&#xA;    }],&#xA;    &quot;email&quot;: [{&#xA;      &quot;emailId&quot;: &quot;123&quot;,&#xA;      &quot;emailAddress&quot;: &quot;abb@abc.com&quot;,&#xA;      &quot;preferredEmail&quot;: true,&#xA;      &quot;emailType&quot;: &quot;HOME&quot;&#xA;    }],&#xA;    &quot;addresses&quot;: [&#xA;      {&#xA;            &quot;addressId&quot;: &quot;123&quot;,&#xA;                  &quot;addressType&quot;: &quot;HOME&quot;,&#xA;                  &quot;addressLine1&quot;: &quot;9010 St W&quot;,&#xA;                  &quot;city&quot;: &quot;Fort Myers&quot;,&#xA;                  &quot;postalCode&quot;: &quot;33909&quot;,&#xA;                  &quot;state&quot;: &quot;FL&quot;,&#xA;        &quot;country&quot;: &quot;US&quot;      &#xA;      }&#xA;    ],&#xA;    &quot;companyInfo&quot;: [&#xA;      {&#xA;        &quot;companyName&quot;: &quot;Bank of America&quot;,&#xA;        &quot;cdp&quot;: &quot;BOA123&quot;&#xA;      }],&#xA;    &quot;birthDate&quot;: &quot;1975-06-10&quot;,&#xA;    &quot;driverLicense&quot;:{&#xA;      &quot;licenseNumber&quot;: &quot;34T00901&quot;,&#xA;      &quot;expDate&quot;: &quot;2018-12-20&quot;,&#xA;      &quot;issuedState&quot;: &quot;FL&quot;,&#xA;      &quot;issuedCountry&quot;: &quot;US&quot;&#xA;    },&#xA;    &quot;contactOption&quot;: &quot;email&quot;,&#xA;    &quot;shareInfo&quot;: false,&#xA;    &quot;loyalityEnrollments&quot;:[&#xA;      {&#xA;        &quot;enrollmentNumber&quot;: &quot;2345678&quot;,&#xA;        &quot;enrollmentType&quot;: &quot;platinum&quot;&#xA;      }]&#xA;  }&#xA;]" doc:name="Set Payload" />
   
    </flow>
    <flow name="get:/creditCard/{id}:api-config">
        <set-payload value="[&#xA;  {&#xA;    &quot;organizationCode&quot;: &quot;HRAC&quot;,&#xA;    &quot;id&quot;: &quot;1234&quot;,&#xA;    &quot;creditCardNumber&quot;: &quot;************5678&quot;,&#xA;    &quot;cardholderName&quot;: &quot;John Smith&quot;,&#xA;    &quot;expDate&quot;: &quot;10/2020&quot;,&#xA;    &quot;cvv&quot;: &quot;123&quot;,&#xA;    &quot;cardType&quot;: &quot;visa&quot;,&#xA;    &quot;customerId&quot;: &quot;12345&quot;&#xA;  }&#xA;]" doc:name="Set Payload" />
    </flow>
    <flow name="get:/customer/{id}:api-config">
        <set-payload value="[&#xA;  {&#xA;    &quot;organizationCode&quot;: &quot;HRAC&quot;,&#xA;    &quot;customerType&quot;: &quot;IND&quot;,&#xA;    &quot;id&quot;: &quot;123456&quot;,&#xA;    &quot;customerName&quot;: {&#xA;      &quot;honorificPrefix&quot;: &quot;Mr.&quot;,&#xA;      &quot;firstName&quot;: &quot;John&quot;,&#xA;      &quot;addiyionalName&quot;: &quot;L&quot;,&#xA;      &quot;lastName&quot;: &quot;Smith&quot;&#xA;    },&#xA;    &quot;phoneNumbers&quot;: [{&#xA;      &quot;phoneId&quot;: &quot;123&quot;,&#xA;      &quot;phoneNumber&quot;: &quot;111-222-3333&quot;,&#xA;      &quot;phoneType&quot;: &quot;MOBILE&quot;,&#xA;      &quot;countryCode&quot;: &quot;US&quot;&#xA;    }],&#xA;    &quot;email&quot;: [{&#xA;      &quot;emailId&quot;: &quot;123&quot;,&#xA;      &quot;emailAddress&quot;: &quot;a@abc.com&quot;,&#xA;      &quot;preferredEmail&quot;: true,&#xA;      &quot;emailType&quot;: &quot;HOME&quot;&#xA;    }],&#xA;    &quot;addresses&quot;: [&#xA;      {&#xA;              &quot;addressId&quot;: &quot;123&quot;,&#xA;                  &quot;addressType&quot;: &quot;HOME&quot;,&#xA;                  &quot;addressLine1&quot;: &quot;123 Street&quot;,&#xA;                  &quot;city&quot;: &quot;Estero&quot;,&#xA;                  &quot;postalCode&quot;: &quot;33999&quot;,&#xA;                  &quot;state&quot;: &quot;FL&quot;,&#xA;        &quot;country&quot;: &quot;US&quot;      &#xA;      }&#xA;    ],&#xA;    &quot;companyInfo&quot;: [&#xA;      {&#xA;        &quot;companyName&quot;: &quot;Bank of America&quot;,&#xA;        &quot;cdp&quot;: &quot;BOA123&quot;&#xA;      }],&#xA;    &quot;birthDate&quot;: &quot;1985-10-30&quot;,&#xA;    &quot;driverLicense&quot;:{&#xA;      &quot;licenseNumber&quot;: &quot;ABPT00901&quot;,&#xA;      &quot;expDate&quot;: &quot;2018-01-20&quot;,&#xA;      &quot;issuedState&quot;: &quot;WA&quot;,&#xA;      &quot;issuedCountry&quot;: &quot;US&quot;&#xA;    },&#xA;    &quot;spouseName&quot;: {&#xA;      &quot;honorificPrefix&quot;: &quot;Mrs.&quot;,&#xA;      &quot;firstName&quot;: &quot;Jill&quot;,&#xA;      &quot;lastName&quot;: &quot;Smith&quot;&#xA;    },&#xA;    &quot;contactOption&quot;: &quot;email&quot;,&#xA;    &quot;shareInfo&quot;: false&#xA;  },&#xA;  {&#xA;    &quot;organizationCode&quot;: &quot;HRAC&quot;,&#xA;    &quot;customerType&quot;: &quot;IND&quot;,&#xA;    &quot;id&quot;: &quot;623981&quot;,&#xA;    &quot;customerName&quot;: {&#xA;      &quot;honorificPrefix&quot;: &quot;Mr.&quot;,&#xA;      &quot;firstName&quot;: &quot;Alex&quot;,&#xA;      &quot;lastName&quot;: &quot;Rod&quot;&#xA;    },&#xA;    &quot;phoneNumbers&quot;: [{&#xA;      &quot;phoneId&quot;: &quot;123&quot;,&#xA;      &quot;phoneNumber&quot;: &quot;555-222-3399&quot;,&#xA;      &quot;phoneType&quot;: &quot;MOBILE&quot;,&#xA;      &quot;countryCode&quot;: &quot;US&quot;&#xA;    }],&#xA;    &quot;email&quot;: [{&#xA;      &quot;emailId&quot;: &quot;123&quot;,&#xA;      &quot;emailAddress&quot;: &quot;abb@abc.com&quot;,&#xA;      &quot;preferredEmail&quot;: true,&#xA;      &quot;emailType&quot;: &quot;HOME&quot;&#xA;    }],&#xA;    &quot;addresses&quot;: [&#xA;      {&#xA;            &quot;addressId&quot;: &quot;123&quot;,&#xA;                  &quot;addressType&quot;: &quot;HOME&quot;,&#xA;                  &quot;addressLine1&quot;: &quot;9010 St W&quot;,&#xA;                  &quot;city&quot;: &quot;Fort Myers&quot;,&#xA;                  &quot;postalCode&quot;: &quot;33909&quot;,&#xA;                  &quot;state&quot;: &quot;FL&quot;,&#xA;        &quot;country&quot;: &quot;US&quot;      &#xA;      }&#xA;    ],&#xA;    &quot;companyInfo&quot;: [&#xA;      {&#xA;        &quot;companyName&quot;: &quot;Bank of America&quot;,&#xA;        &quot;cdp&quot;: &quot;BOA123&quot;&#xA;      }],&#xA;    &quot;birthDate&quot;: &quot;1975-06-10&quot;,&#xA;    &quot;driverLicense&quot;:{&#xA;      &quot;licenseNumber&quot;: &quot;34T00901&quot;,&#xA;      &quot;expDate&quot;: &quot;2018-12-20&quot;,&#xA;      &quot;issuedState&quot;: &quot;FL&quot;,&#xA;      &quot;issuedCountry&quot;: &quot;US&quot;&#xA;    },&#xA;    &quot;contactOption&quot;: &quot;email&quot;,&#xA;    &quot;shareInfo&quot;: false,&#xA;    &quot;loyalityEnrollments&quot;:[&#xA;      {&#xA;        &quot;enrollmentNumber&quot;: &quot;2345678&quot;,&#xA;        &quot;enrollmentType&quot;: &quot;platinum&quot;&#xA;      }]&#xA;  }&#xA;]" doc:name="Set Payload" />
    </flow>
    <flow name="post:/creditCard:application/json:api-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload" />
    </flow>
    <flow name="post:/customer:application/json:api-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload" />
    </flow>
    
    <flow name="get:/reservation:api-config">
        <set-payload value="[&#xD;&#xA;    {&#xD;&#xA;        &quot;timeToLive&quot;: null,&#xD;&#xA;        &quot;selfLink&quot;: &quot;dbs/hI0-AA==/colls/hI0-AO6SKQA=/docs/hI0-AO6SKQACAAAAAAAAAA==/&quot;,&#xD;&#xA;        &quot;resourceId&quot;: &quot;hI0-AO6SKQACAAAAAAAAAA==&quot;,&#xD;&#xA;        &quot;timestamp&quot;: 1506353926,&#xD;&#xA;        &quot;etag&quot;: &quot;\&quot;3400be75-0000-0000-0000-59c923060000\&quot;&quot;,&#xD;&#xA;        &quot;id&quot;: &quot;51c88940-d3c3-4670-9e11-8a243365068c&quot;,&#xD;&#xA;        &quot;hashMap&quot;: {&#xD;&#xA;            &quot;_attachments&quot;: &quot;attachments/&quot;,&#xD;&#xA;            &quot;_rid&quot;: &quot;hI0-AO6SKQACAAAAAAAAAA==&quot;,&#xD;&#xA;            &quot;OTA_VehResRQ&quot;: {&#xD;&#xA;                &quot;vehResRQCore&quot;: {&#xD;&#xA;                    &quot;totalCharge&quot;: {&#xD;&#xA;                        &quot;estimatedTotalAmount&quot;: 86.92,&#xD;&#xA;                        &quot;currencyCode&quot;: &quot;USD&quot;&#xD;&#xA;                    },&#xD;&#xA;                    &quot;rateDistance&quot;: [&#xD;&#xA;                        {&#xD;&#xA;                            &quot;unlimited&quot;: 0,&#xD;&#xA;                            &quot;vehiclePeriodUnitName&quot;: &quot;DY&quot;&#xD;&#xA;                        }&#xD;&#xA;                    ],&#xD;&#xA;                    &quot;vehPref&quot;: {&#xD;&#xA;                        &quot;code&quot;: &quot;ICAR&quot;,&#xD;&#xA;                        &quot;codeContext&quot;: &quot;SIPP&quot;&#xD;&#xA;                    },&#xD;&#xA;                    &quot;vehicleCharges&quot;: {&#xD;&#xA;                        &quot;vehicleCharge&quot;: [&#xD;&#xA;                            {&#xD;&#xA;                                &quot;currencyCode&quot;: &quot;USD&quot;&#xD;&#xA;                            }&#xD;&#xA;                        ]&#xD;&#xA;                    },&#xD;&#xA;                    &quot;rateQualifier&quot;: {&#xD;&#xA;                        &quot;corpDiscountNmbr&quot;: 50806,&#xD;&#xA;                        &quot;promotionCode&quot;: &quot;&quot;,&#xD;&#xA;                        &quot;rateQualifier&quot;: &quot;CRL&quot;,&#xD;&#xA;                        &quot;vendorRateID&quot;: &quot;CRL&quot;,&#xD;&#xA;                        &quot;travelPurpose&quot;: &quot;B&quot;&#xD;&#xA;                    },&#xD;&#xA;                    &quot;vehRentalCore&quot;: {&#xD;&#xA;                        &quot;returnDateTime&quot;: &quot;2017-10-20T17:40:00&quot;,&#xD;&#xA;                        &quot;returnLocation&quot;: {&#xD;&#xA;                            &quot;locationCode&quot;: &quot;JAX&quot;&#xD;&#xA;                        },&#xD;&#xA;                        &quot;pickUpLocation&quot;: [&#xD;&#xA;                            {&#xD;&#xA;                                &quot;locationCode&quot;: &quot;JAX&quot;&#xD;&#xA;                            }&#xD;&#xA;                        ],&#xD;&#xA;                        &quot;pickUpDateTime&quot;: &quot;2017-10-18T17:40:00&quot;&#xD;&#xA;                    },&#xD;&#xA;                    &quot;vendorPref&quot;: {&#xD;&#xA;                        &quot;code&quot;: &quot;ZE&quot;,&#xD;&#xA;                        &quot;codeContext&quot;: &quot;2&quot;&#xD;&#xA;                    },&#xD;&#xA;                    &quot;uniqueID&quot;: [&#xD;&#xA;                        {&#xD;&#xA;                            &quot;instance&quot;: 2,&#xD;&#xA;                            &quot;id&quot;: &quot;H4280164164&quot;,&#xD;&#xA;                            &quot;type&quot;: 24&#xD;&#xA;                        }&#xD;&#xA;                    ],&#xD;&#xA;                    &quot;customer&quot;: {&#xD;&#xA;                        &quot;primary&quot;: {&#xD;&#xA;                            &quot;personName&quot;: [&#xD;&#xA;                                {&#xD;&#xA;                                    &quot;surname&quot;: &quot;+/fUAKhxb7A=&quot;,&#xD;&#xA;                                    &quot;givenName&quot;: [&#xD;&#xA;                                        &quot;SN1osVoSlV4=&quot;,&#xD;&#xA;                                        &quot;bfohHtbJoX0=&quot;&#xD;&#xA;                                    ]&#xD;&#xA;                                }&#xD;&#xA;                            ],&#xD;&#xA;                            &quot;custLoyalty&quot;: [&#xD;&#xA;                                {&#xD;&#xA;                                    &quot;membershipID&quot;: 62644743,&#xD;&#xA;                                    &quot;travelSector&quot;: &quot;2&quot;,&#xD;&#xA;                                    &quot;programID&quot;: &quot;ZE&quot;&#xD;&#xA;                                },&#xD;&#xA;                                {&#xD;&#xA;                                    &quot;membershipID&quot;: &quot;1&quot;,&#xD;&#xA;                                    &quot;travelSector&quot;: &quot;1&quot;,&#xD;&#xA;                                    &quot;programID&quot;: &quot;ZE&quot;&#xD;&#xA;                                }&#xD;&#xA;                            ],&#xD;&#xA;                            &quot;address&quot;: [&#xD;&#xA;                                {&#xD;&#xA;                                    &quot;stateProv&quot;: {&#xD;&#xA;                                        &quot;stateCode&quot;: &quot;bfohHtbJoX0=&quot;&#xD;&#xA;                                    },&#xD;&#xA;                                    &quot;cityName&quot;: &quot;bfohHtbJoX0=&quot;,&#xD;&#xA;                                    &quot;postalCode&quot;: &quot;bfohHtbJoX0=&quot;,&#xD;&#xA;                                    &quot;type&quot;: &quot;1&quot;,&#xD;&#xA;                                    &quot;addressLine&quot;: [&#xD;&#xA;                                        &quot;bfohHtbJoX0=&quot;,&#xD;&#xA;                                        &quot;bfohHtbJoX0=&quot;&#xD;&#xA;                                    ]&#xD;&#xA;                                },&#xD;&#xA;                                {&#xD;&#xA;                                    &quot;stateProv&quot;: {&#xD;&#xA;                                        &quot;stateCode&quot;: &quot;bfohHtbJoX0=&quot;&#xD;&#xA;                                    },&#xD;&#xA;                                    &quot;cityName&quot;: &quot;bfohHtbJoX0=&quot;,&#xD;&#xA;                                    &quot;postalCode&quot;: &quot;bfohHtbJoX0=&quot;,&#xD;&#xA;                                    &quot;type&quot;: &quot;2&quot;,&#xD;&#xA;                                    &quot;addressLine&quot;: [&#xD;&#xA;                                        &quot;bfohHtbJoX0=&quot;,&#xD;&#xA;                                        &quot;bfohHtbJoX0=&quot;&#xD;&#xA;                                    ]&#xD;&#xA;                                }&#xD;&#xA;                            ],&#xD;&#xA;                            &quot;birthDate&quot;: &quot;SW49cLb0ouM=&quot;,&#xD;&#xA;                            &quot;email&quot;: [&#xD;&#xA;                                {&#xD;&#xA;                                    &quot;value&quot;: &quot;nu16JCKFolYBDAXvxZZ1I31XRMqhxoE2&quot;&#xD;&#xA;                                }&#xD;&#xA;                            ]&#xD;&#xA;                        }&#xD;&#xA;                    },&#xD;&#xA;                    &quot;status&quot;: &quot;0&quot;&#xD;&#xA;                },&#xD;&#xA;                &quot;vehResRQInfo&quot;: {&#xD;&#xA;                    &quot;rentalPaymentPref&quot;: [&#xD;&#xA;                        {&#xD;&#xA;                            &quot;paymentCard&quot;: {&#xD;&#xA;                                &quot;expiryDate&quot;: &quot;18-01&quot;,&#xD;&#xA;                                &quot;cardNumber&quot;: {&#xD;&#xA;                                    &quot;plainText&quot;: &quot;++wTB7AEqKlYp8+pYh0TlF1M2ryHeK1n&quot;&#xD;&#xA;                                }&#xD;&#xA;                            },&#xD;&#xA;                            &quot;paymentType&quot;: 1&#xD;&#xA;                        }&#xD;&#xA;                    ],&#xD;&#xA;                    &quot;arrivalDetails&quot;: {&#xD;&#xA;                        &quot;number&quot;: &quot;4040&quot;,&#xD;&#xA;                        &quot;transportationCode&quot;: &quot;14&quot;&#xD;&#xA;                    },&#xD;&#xA;                    &quot;remark&quot;: [&#xD;&#xA;                        {&#xD;&#xA;                            &quot;text&quot;: [&#xD;&#xA;                                {&#xD;&#xA;                                    &quot;value&quot;: &quot;.DACXXAA 181524 AAL1D2D1A            00001&quot;&#xD;&#xA;                                }&#xD;&#xA;                            ]&#xD;&#xA;                        }&#xD;&#xA;                    ]&#xD;&#xA;                },&#xD;&#xA;                &quot;pos&quot;: {&#xD;&#xA;                    &quot;source&quot;: [&#xD;&#xA;                        {&#xD;&#xA;                            &quot;pseudoCityCode&quot;: &quot;X0CC&quot;,&#xD;&#xA;                            &quot;requestorID&quot;: {&#xD;&#xA;                                &quot;id&quot;: &quot;10663575&quot;,&#xD;&#xA;                                &quot;type&quot;: &quot;5&quot;&#xD;&#xA;                            },&#xD;&#xA;                            &quot;airlineVendorID&quot;: &quot;DL&quot;&#xD;&#xA;                        }&#xD;&#xA;                    ]&#xD;&#xA;                }&#xD;&#xA;            },&#xD;&#xA;            &quot;id&quot;: &quot;51c88940-d3c3-4670-9e11-8a243365068c&quot;,&#xD;&#xA;            &quot;_self&quot;: &quot;dbs/hI0-AA==/colls/hI0-AO6SKQA=/docs/hI0-AO6SKQACAAAAAAAAAA==/&quot;,&#xD;&#xA;            &quot;OTA_VehModifyRQ&quot;: {&#xD;&#xA;                &quot;pos&quot;: {&#xD;&#xA;                    &quot;source&quot;: [&#xD;&#xA;                        {&#xD;&#xA;                            &quot;pseudoCityCode&quot;: &quot;X0CC&quot;,&#xD;&#xA;                            &quot;requestorID&quot;: {&#xD;&#xA;                                &quot;id&quot;: &quot;10663575&quot;,&#xD;&#xA;                                &quot;type&quot;: &quot;5&quot;&#xD;&#xA;                            },&#xD;&#xA;                            &quot;airlineVendorID&quot;: &quot;DL&quot;&#xD;&#xA;                        }&#xD;&#xA;                    ]&#xD;&#xA;                },&#xD;&#xA;                &quot;vehModifyRQCore&quot;: {&#xD;&#xA;                    &quot;totalCharge&quot;: {&#xD;&#xA;                        &quot;estimatedTotalAmount&quot;: 86.92,&#xD;&#xA;                        &quot;currencyCode&quot;: &quot;USD&quot;&#xD;&#xA;                    },&#xD;&#xA;                    &quot;rateDistance&quot;: [&#xD;&#xA;                        {&#xD;&#xA;                            &quot;unlimited&quot;: 0,&#xD;&#xA;                            &quot;vehiclePeriodUnitName&quot;: &quot;DY&quot;&#xD;&#xA;                        }&#xD;&#xA;                    ],&#xD;&#xA;                    &quot;vehPref&quot;: {&#xD;&#xA;                        &quot;code&quot;: &quot;ICAR&quot;,&#xD;&#xA;                        &quot;codeContext&quot;: &quot;SIPP&quot;&#xD;&#xA;                    },&#xD;&#xA;                    &quot;vehicleCharges&quot;: {&#xD;&#xA;                        &quot;vehicleCharge&quot;: [&#xD;&#xA;                            {&#xD;&#xA;                                &quot;currencyCode&quot;: &quot;USD&quot;&#xD;&#xA;                            }&#xD;&#xA;                        ]&#xD;&#xA;                    },&#xD;&#xA;                    &quot;rateQualifier&quot;: {&#xD;&#xA;                        &quot;corpDiscountNmbr&quot;: 50806,&#xD;&#xA;                        &quot;promotionCode&quot;: &quot;&quot;,&#xD;&#xA;                        &quot;rateQualifier&quot;: &quot;CRL&quot;,&#xD;&#xA;                        &quot;vendorRateID&quot;: &quot;CRL&quot;,&#xD;&#xA;                        &quot;travelPurpose&quot;: &quot;B&quot;&#xD;&#xA;                    },&#xD;&#xA;                    &quot;vehRentalCore&quot;: {&#xD;&#xA;                        &quot;returnDateTime&quot;: &quot;2017-10-20T17:40:00&quot;,&#xD;&#xA;                        &quot;returnLocation&quot;: {&#xD;&#xA;                            &quot;locationCode&quot;: &quot;JAX&quot;&#xD;&#xA;                        },&#xD;&#xA;                        &quot;pickUpLocation&quot;: [&#xD;&#xA;                            {&#xD;&#xA;                                &quot;locationCode&quot;: &quot;JAX&quot;&#xD;&#xA;                            }&#xD;&#xA;                        ],&#xD;&#xA;                        &quot;pickUpDateTime&quot;: &quot;2017-10-18T17:40:00&quot;&#xD;&#xA;                    },&#xD;&#xA;                    &quot;vendorPref&quot;: {&#xD;&#xA;                        &quot;code&quot;: &quot;ZE&quot;,&#xD;&#xA;                        &quot;codeContext&quot;: &quot;2&quot;&#xD;&#xA;                    },&#xD;&#xA;                    &quot;uniqueID&quot;: [&#xD;&#xA;                        {&#xD;&#xA;                            &quot;instance&quot;: 2,&#xD;&#xA;                            &quot;id&quot;: &quot;H4280164164&quot;,&#xD;&#xA;                            &quot;type&quot;: 24&#xD;&#xA;                        }&#xD;&#xA;                    ],&#xD;&#xA;                    &quot;customer&quot;: {&#xD;&#xA;                        &quot;primary&quot;: {&#xD;&#xA;                            &quot;personName&quot;: [&#xD;&#xA;                                {&#xD;&#xA;                                    &quot;surname&quot;: &quot;+/fUAKhxb7A=&quot;,&#xD;&#xA;                                    &quot;givenName&quot;: [&#xD;&#xA;                                        &quot;SN1osVoSlV4=&quot;,&#xD;&#xA;                                        &quot;bfohHtbJoX0=&quot;&#xD;&#xA;                                    ]&#xD;&#xA;                                }&#xD;&#xA;                            ],&#xD;&#xA;                            &quot;custLoyalty&quot;: [&#xD;&#xA;                                {&#xD;&#xA;                                    &quot;membershipID&quot;: 62644743,&#xD;&#xA;                                    &quot;travelSector&quot;: &quot;2&quot;,&#xD;&#xA;                                    &quot;programID&quot;: &quot;ZE&quot;&#xD;&#xA;                                },&#xD;&#xA;                                {&#xD;&#xA;                                    &quot;membershipID&quot;: &quot;1&quot;,&#xD;&#xA;                                    &quot;travelSector&quot;: &quot;1&quot;,&#xD;&#xA;                                    &quot;programID&quot;: &quot;ZE&quot;&#xD;&#xA;                                }&#xD;&#xA;                            ],&#xD;&#xA;                            &quot;address&quot;: [&#xD;&#xA;                                {&#xD;&#xA;                                    &quot;stateProv&quot;: {&#xD;&#xA;                                        &quot;stateCode&quot;: &quot;bfohHtbJoX0=&quot;&#xD;&#xA;                                    },&#xD;&#xA;                                    &quot;cityName&quot;: &quot;bfohHtbJoX0=&quot;,&#xD;&#xA;                                    &quot;postalCode&quot;: &quot;bfohHtbJoX0=&quot;,&#xD;&#xA;                                    &quot;type&quot;: &quot;1&quot;,&#xD;&#xA;                                    &quot;addressLine&quot;: [&#xD;&#xA;                                        &quot;bfohHtbJoX0=&quot;,&#xD;&#xA;                                        &quot;bfohHtbJoX0=&quot;&#xD;&#xA;                                    ]&#xD;&#xA;                                },&#xD;&#xA;                                {&#xD;&#xA;                                    &quot;stateProv&quot;: {&#xD;&#xA;                                        &quot;stateCode&quot;: &quot;bfohHtbJoX0=&quot;&#xD;&#xA;                                    },&#xD;&#xA;                                    &quot;cityName&quot;: &quot;bfohHtbJoX0=&quot;,&#xD;&#xA;                                    &quot;postalCode&quot;: &quot;bfohHtbJoX0=&quot;,&#xD;&#xA;                                    &quot;type&quot;: &quot;2&quot;,&#xD;&#xA;                                    &quot;addressLine&quot;: [&#xD;&#xA;                                        &quot;bfohHtbJoX0=&quot;,&#xD;&#xA;                                        &quot;bfohHtbJoX0=&quot;&#xD;&#xA;                                    ]&#xD;&#xA;                                }&#xD;&#xA;                            ],&#xD;&#xA;                            &quot;birthDate&quot;: &quot;SW49cLb0ouM=&quot;,&#xD;&#xA;                            &quot;email&quot;: [&#xD;&#xA;                                {&#xD;&#xA;                                    &quot;value&quot;: &quot;nu16JCKFolYBDAXvxZZ1I31XRMqhxoE2&quot;&#xD;&#xA;                                }&#xD;&#xA;                            ]&#xD;&#xA;                        }&#xD;&#xA;                    },&#xD;&#xA;                    &quot;status&quot;: &quot;0&quot;&#xD;&#xA;                },&#xD;&#xA;                &quot;vehModifyRQInfo&quot;: {&#xD;&#xA;                    &quot;rentalPaymentPref&quot;: [&#xD;&#xA;                        {&#xD;&#xA;                            &quot;paymentCard&quot;: {&#xD;&#xA;                                &quot;expiryDate&quot;: &quot;18-01&quot;,&#xD;&#xA;                                &quot;cardNumber&quot;: {&#xD;&#xA;                                    &quot;plainText&quot;: &quot;++wTB7AEqKlYp8+pYh0TlF1M2ryHeK1n&quot;&#xD;&#xA;                                }&#xD;&#xA;                            },&#xD;&#xA;                            &quot;paymentType&quot;: 1&#xD;&#xA;                        }&#xD;&#xA;                    ],&#xD;&#xA;                    &quot;arrivalDetails&quot;: {&#xD;&#xA;                        &quot;number&quot;: &quot;4040&quot;,&#xD;&#xA;                        &quot;transportationCode&quot;: &quot;14&quot;&#xD;&#xA;                    },&#xD;&#xA;                    &quot;remark&quot;: [&#xD;&#xA;                        {&#xD;&#xA;                            &quot;text&quot;: [&#xD;&#xA;                                {&#xD;&#xA;                                    &quot;value&quot;: &quot;.DACXXAA 181524 AAL1D2D1A            00001&quot;&#xD;&#xA;                                }&#xD;&#xA;                            ]&#xD;&#xA;                        }&#xD;&#xA;                    ]&#xD;&#xA;                }&#xD;&#xA;            },&#xD;&#xA;            &quot;_etag&quot;: &quot;\&quot;3400be75-0000-0000-0000-59c923060000\&quot;&quot;,&#xD;&#xA;            &quot;_ts&quot;: 1506353926&#xD;&#xA;        }&#xD;&#xA;    }&#xD;&#xA;]" />
    	<flow-ref name="cosmos-findBy" />
    </flow>

    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
