src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
     <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="${api.path}" doc:name="HTTP"/>
        <set-session-variable variableName="uuid" value="#[java.util.UUID.randomUUID().toString()]" doc:name="Set UUID Session Variable"/>
        
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <!-- <exception-strategy ref="apiChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/> -->
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
    </flow>
    <!-- <flow name="put:/creditCard/{id}:application/json:api-config">
    	<flow-ref name="updateCreditCard"  doc:name="updateCreditCard"/>
    </flow>
   <flow name="put:/customer/{id}:application/json:api-config">
        <flow-ref name="updateCustomer" doc:name="updateCustomer" />
    </flow> -->
    <flow name="get:/customer:api-config">
        <set-payload value="[&#xA;  {&#xA;    &quot;organizationCode&quot;: &quot;HRAC&quot;,&#xA;    &quot;customerType&quot;: &quot;IND&quot;,&#xA;    &quot;id&quot;: &quot;123456&quot;,&#xA;    &quot;customerName&quot;: {&#xA;      &quot;honorificPrefix&quot;: &quot;Mr.&quot;,&#xA;      &quot;firstName&quot;: &quot;John&quot;,&#xA;      &quot;addiyionalName&quot;: &quot;L&quot;,&#xA;      &quot;lastName&quot;: &quot;Smith&quot;&#xA;    },&#xA;    &quot;phoneNumbers&quot;: [{&#xA;      &quot;phoneId&quot;: &quot;123&quot;,&#xA;      &quot;phoneNumber&quot;: &quot;111-222-3333&quot;,&#xA;      &quot;phoneType&quot;: &quot;MOBILE&quot;,&#xA;      &quot;countryCode&quot;: &quot;US&quot;&#xA;    }],&#xA;    &quot;email&quot;: [{&#xA;      &quot;emailId&quot;: &quot;123&quot;,&#xA;      &quot;emailAddress&quot;: &quot;a@abc.com&quot;,&#xA;      &quot;preferredEmail&quot;: true,&#xA;      &quot;emailType&quot;: &quot;HOME&quot;&#xA;    }],&#xA;    &quot;addresses&quot;: [&#xA;      {&#xA;              &quot;addressId&quot;: &quot;123&quot;,&#xA;                  &quot;addressType&quot;: &quot;HOME&quot;,&#xA;                  &quot;addressLine1&quot;: &quot;123 Street&quot;,&#xA;                  &quot;city&quot;: &quot;Estero&quot;,&#xA;                  &quot;postalCode&quot;: &quot;33999&quot;,&#xA;                  &quot;state&quot;: &quot;FL&quot;,&#xA;        &quot;country&quot;: &quot;US&quot;      &#xA;      }&#xA;    ],&#xA;    &quot;companyInfo&quot;: [&#xA;      {&#xA;        &quot;companyName&quot;: &quot;Bank of America&quot;,&#xA;        &quot;cdp&quot;: &quot;BOA123&quot;&#xA;      }],&#xA;    &quot;birthDate&quot;: &quot;1985-10-30&quot;,&#xA;    &quot;driverLicense&quot;:{&#xA;      &quot;licenseNumber&quot;: &quot;ABPT00901&quot;,&#xA;      &quot;expDate&quot;: &quot;2018-01-20&quot;,&#xA;      &quot;issuedState&quot;: &quot;WA&quot;,&#xA;      &quot;issuedCountry&quot;: &quot;US&quot;&#xA;    },&#xA;    &quot;spouseName&quot;: {&#xA;      &quot;honorificPrefix&quot;: &quot;Mrs.&quot;,&#xA;      &quot;firstName&quot;: &quot;Jill&quot;,&#xA;      &quot;lastName&quot;: &quot;Smith&quot;&#xA;    },&#xA;    &quot;contactOption&quot;: &quot;email&quot;,&#xA;    &quot;shareInfo&quot;: false&#xA;  },&#xA;  {&#xA;    &quot;organizationCode&quot;: &quot;HRAC&quot;,&#xA;    &quot;customerType&quot;: &quot;IND&quot;,&#xA;    &quot;id&quot;: &quot;623981&quot;,&#xA;    &quot;customerName&quot;: {&#xA;      &quot;honorificPrefix&quot;: &quot;Mr.&quot;,&#xA;      &quot;firstName&quot;: &quot;Alex&quot;,&#xA;      &quot;lastName&quot;: &quot;Rod&quot;&#xA;    },&#xA;    &quot;phoneNumbers&quot;: [{&#xA;      &quot;phoneId&quot;: &quot;123&quot;,&#xA;      &quot;phoneNumber&quot;: &quot;555-222-3399&quot;,&#xA;      &quot;phoneType&quot;: &quot;MOBILE&quot;,&#xA;      &quot;countryCode&quot;: &quot;US&quot;&#xA;    }],&#xA;    &quot;email&quot;: [{&#xA;      &quot;emailId&quot;: &quot;123&quot;,&#xA;      &quot;emailAddress&quot;: &quot;abb@abc.com&quot;,&#xA;      &quot;preferredEmail&quot;: true,&#xA;      &quot;emailType&quot;: &quot;HOME&quot;&#xA;    }],&#xA;    &quot;addresses&quot;: [&#xA;      {&#xA;            &quot;addressId&quot;: &quot;123&quot;,&#xA;                  &quot;addressType&quot;: &quot;HOME&quot;,&#xA;                  &quot;addressLine1&quot;: &quot;9010 St W&quot;,&#xA;                  &quot;city&quot;: &quot;Fort Myers&quot;,&#xA;                  &quot;postalCode&quot;: &quot;33909&quot;,&#xA;                  &quot;state&quot;: &quot;FL&quot;,&#xA;        &quot;country&quot;: &quot;US&quot;      &#xA;      }&#xA;    ],&#xA;    &quot;companyInfo&quot;: [&#xA;      {&#xA;        &quot;companyName&quot;: &quot;Bank of America&quot;,&#xA;        &quot;cdp&quot;: &quot;BOA123&quot;&#xA;      }],&#xA;    &quot;birthDate&quot;: &quot;1975-06-10&quot;,&#xA;    &quot;driverLicense&quot;:{&#xA;      &quot;licenseNumber&quot;: &quot;34T00901&quot;,&#xA;      &quot;expDate&quot;: &quot;2018-12-20&quot;,&#xA;      &quot;issuedState&quot;: &quot;FL&quot;,&#xA;      &quot;issuedCountry&quot;: &quot;US&quot;&#xA;    },&#xA;    &quot;contactOption&quot;: &quot;email&quot;,&#xA;    &quot;shareInfo&quot;: false,&#xA;    &quot;loyalityEnrollments&quot;:[&#xA;      {&#xA;        &quot;enrollmentNumber&quot;: &quot;2345678&quot;,&#xA;        &quot;enrollmentType&quot;: &quot;platinum&quot;&#xA;      }]&#xA;  }&#xA;]" doc:name="Set Payload"/>
        <flow-ref name="cosmos-findBy" />
    </flow>
    <flow name="get:/creditCard/{id}:api-config">
        <set-payload value="[&#xA;  {&#xA;    &quot;organizationCode&quot;: &quot;HRAC&quot;,&#xA;    &quot;id&quot;: &quot;1234&quot;,&#xA;    &quot;creditCardNumber&quot;: &quot;************5678&quot;,&#xA;    &quot;cardholderName&quot;: &quot;John Smith&quot;,&#xA;    &quot;expDate&quot;: &quot;10/2020&quot;,&#xA;    &quot;cvv&quot;: &quot;123&quot;,&#xA;    &quot;cardType&quot;: &quot;visa&quot;,&#xA;    &quot;customerId&quot;: &quot;12345&quot;&#xA;  }&#xA;]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customer/{id}:api-config">
        <set-payload value="[&#xA;  {&#xA;    &quot;organizationCode&quot;: &quot;HRAC&quot;,&#xA;    &quot;customerType&quot;: &quot;IND&quot;,&#xA;    &quot;id&quot;: &quot;123456&quot;,&#xA;    &quot;customerName&quot;: {&#xA;      &quot;honorificPrefix&quot;: &quot;Mr.&quot;,&#xA;      &quot;firstName&quot;: &quot;John&quot;,&#xA;      &quot;addiyionalName&quot;: &quot;L&quot;,&#xA;      &quot;lastName&quot;: &quot;Smith&quot;&#xA;    },&#xA;    &quot;phoneNumbers&quot;: [{&#xA;      &quot;phoneId&quot;: &quot;123&quot;,&#xA;      &quot;phoneNumber&quot;: &quot;111-222-3333&quot;,&#xA;      &quot;phoneType&quot;: &quot;MOBILE&quot;,&#xA;      &quot;countryCode&quot;: &quot;US&quot;&#xA;    }],&#xA;    &quot;email&quot;: [{&#xA;      &quot;emailId&quot;: &quot;123&quot;,&#xA;      &quot;emailAddress&quot;: &quot;a@abc.com&quot;,&#xA;      &quot;preferredEmail&quot;: true,&#xA;      &quot;emailType&quot;: &quot;HOME&quot;&#xA;    }],&#xA;    &quot;addresses&quot;: [&#xA;      {&#xA;              &quot;addressId&quot;: &quot;123&quot;,&#xA;                  &quot;addressType&quot;: &quot;HOME&quot;,&#xA;                  &quot;addressLine1&quot;: &quot;123 Street&quot;,&#xA;                  &quot;city&quot;: &quot;Estero&quot;,&#xA;                  &quot;postalCode&quot;: &quot;33999&quot;,&#xA;                  &quot;state&quot;: &quot;FL&quot;,&#xA;        &quot;country&quot;: &quot;US&quot;      &#xA;      }&#xA;    ],&#xA;    &quot;companyInfo&quot;: [&#xA;      {&#xA;        &quot;companyName&quot;: &quot;Bank of America&quot;,&#xA;        &quot;cdp&quot;: &quot;BOA123&quot;&#xA;      }],&#xA;    &quot;birthDate&quot;: &quot;1985-10-30&quot;,&#xA;    &quot;driverLicense&quot;:{&#xA;      &quot;licenseNumber&quot;: &quot;ABPT00901&quot;,&#xA;      &quot;expDate&quot;: &quot;2018-01-20&quot;,&#xA;      &quot;issuedState&quot;: &quot;WA&quot;,&#xA;      &quot;issuedCountry&quot;: &quot;US&quot;&#xA;    },&#xA;    &quot;spouseName&quot;: {&#xA;      &quot;honorificPrefix&quot;: &quot;Mrs.&quot;,&#xA;      &quot;firstName&quot;: &quot;Jill&quot;,&#xA;      &quot;lastName&quot;: &quot;Smith&quot;&#xA;    },&#xA;    &quot;contactOption&quot;: &quot;email&quot;,&#xA;    &quot;shareInfo&quot;: false&#xA;  },&#xA;  {&#xA;    &quot;organizationCode&quot;: &quot;HRAC&quot;,&#xA;    &quot;customerType&quot;: &quot;IND&quot;,&#xA;    &quot;id&quot;: &quot;623981&quot;,&#xA;    &quot;customerName&quot;: {&#xA;      &quot;honorificPrefix&quot;: &quot;Mr.&quot;,&#xA;      &quot;firstName&quot;: &quot;Alex&quot;,&#xA;      &quot;lastName&quot;: &quot;Rod&quot;&#xA;    },&#xA;    &quot;phoneNumbers&quot;: [{&#xA;      &quot;phoneId&quot;: &quot;123&quot;,&#xA;      &quot;phoneNumber&quot;: &quot;555-222-3399&quot;,&#xA;      &quot;phoneType&quot;: &quot;MOBILE&quot;,&#xA;      &quot;countryCode&quot;: &quot;US&quot;&#xA;    }],&#xA;    &quot;email&quot;: [{&#xA;      &quot;emailId&quot;: &quot;123&quot;,&#xA;      &quot;emailAddress&quot;: &quot;abb@abc.com&quot;,&#xA;      &quot;preferredEmail&quot;: true,&#xA;      &quot;emailType&quot;: &quot;HOME&quot;&#xA;    }],&#xA;    &quot;addresses&quot;: [&#xA;      {&#xA;            &quot;addressId&quot;: &quot;123&quot;,&#xA;                  &quot;addressType&quot;: &quot;HOME&quot;,&#xA;                  &quot;addressLine1&quot;: &quot;9010 St W&quot;,&#xA;                  &quot;city&quot;: &quot;Fort Myers&quot;,&#xA;                  &quot;postalCode&quot;: &quot;33909&quot;,&#xA;                  &quot;state&quot;: &quot;FL&quot;,&#xA;        &quot;country&quot;: &quot;US&quot;      &#xA;      }&#xA;    ],&#xA;    &quot;companyInfo&quot;: [&#xA;      {&#xA;        &quot;companyName&quot;: &quot;Bank of America&quot;,&#xA;        &quot;cdp&quot;: &quot;BOA123&quot;&#xA;      }],&#xA;    &quot;birthDate&quot;: &quot;1975-06-10&quot;,&#xA;    &quot;driverLicense&quot;:{&#xA;      &quot;licenseNumber&quot;: &quot;34T00901&quot;,&#xA;      &quot;expDate&quot;: &quot;2018-12-20&quot;,&#xA;      &quot;issuedState&quot;: &quot;FL&quot;,&#xA;      &quot;issuedCountry&quot;: &quot;US&quot;&#xA;    },&#xA;    &quot;contactOption&quot;: &quot;email&quot;,&#xA;    &quot;shareInfo&quot;: false,&#xA;    &quot;loyalityEnrollments&quot;:[&#xA;      {&#xA;        &quot;enrollmentNumber&quot;: &quot;2345678&quot;,&#xA;        &quot;enrollmentType&quot;: &quot;platinum&quot;&#xA;      }]&#xA;  }&#xA;]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/creditCard:application/json:api-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/customer:application/json:api-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
</mule>
