src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <flow name="api-main">
        <http:listener config-ref="global-api-httpListenerConfig" path="${api.path}" doc:name="HTTP" />
        <set-session-variable variableName="uuid" value="#[java.util.UUID.randomUUID().toString()]" doc:name="Set UUID Session Variable" />
        <apikit:router config-ref="api-config" doc:name="APIkit Router" />
        <exception-strategy ref="apiChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>
 	<flow name="api-console">
        <http:listener config-ref="global-api-httpListenerConfig" path="console/*" doc:name="HTTP"/>
        <set-variable variableName="env" value="${mule.env}" doc:name="env"/>
        <choice doc:name="Choice">
            <when expression="#[!flowVars.env.equals(&quot;prod&quot;)]">
                <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
            </when>
            <otherwise>
                <logger level="DEBUG" doc:name="Logger" message="No console will be displayed in production environment"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="get:/reservation:api-config">        
    	<flow-ref name="cosmos-reservation-findBy-flow" doc:name="Flow Reference"/>
    </flow>
    <flow name="get:/reservation/{id}:api-config">
		<flow-ref name="cosmos-reservation-findById-flow" doc:name="Flow Reference"/>
    </flow>
    <flow name="put:/reservation/{id}:api-config">
		<flow-ref name="cosmos-reservation-udpate-flow" doc:name="Flow Reference"/>
    </flow>         
    <flow name="post:/reservation:api-config">        
    	<flow-ref name="cosmos-reservation-save-flow" doc:name="Flow Reference"/>
    </flow> 
    <flow name="get:/flightschedule:api-config">        
    	<flow-ref name="cosmos-flightschedule-findBy-flow" doc:name="Flow Reference"/>
    </flow>
    <flow name="get:/flightschedule/{id}:api-config">
		<flow-ref name="cosmos-flightschedule-findById-flow" doc:name="Flow Reference"/>
    </flow>       
    <flow name="post:/flightschedule:api-config">        
    	<flow-ref name="cosmos-flightschedule-save-flow" doc:name="Flow Reference"/>
    </flow>
</mule>
