src/main/app/cosmos-db-reservation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    
<!--     <spring:beans>
        <spring:import resource="classpath:beans-config.xml"/>
    </spring:beans> -->
       
    <flow name="cosmos-reservation-findBy-flow">	
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="data\reservations\res1.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	("OTA_VehResRQ.vehResRQCore.vehRentalCore.pickUpLocation[0].locationCode" when inboundProperties."http.query.params".pickupLocation != null otherwise "") : (inboundProperties."http.query.params".pickupLocation when inboundProperties."http.query.params".pickupLocation != null otherwise ""),
	("OTA_VehResRQ.vehResRQCore.uniqueID[0].id" when inboundProperties."http.query.params".reservationId != null otherwise "") : (inboundProperties."http.query.params".reservationId when inboundProperties."http.query.params".reservationId != null otherwise ""),
	("OTA_VehResRQ.pos.source[0].airlineVendorID" when inboundProperties."http.query.params".airlineCode != null otherwise "") : (inboundProperties."http.query.params".airlineCode when inboundProperties."http.query.params".airlineCode != null otherwise "")
}]]></dw:set-payload>
        </dw:transform-message>				
		<invoke method="findBy" object-ref="cosmosReservationUtil" methodArguments="#[payload]" methodArgumentTypes="java.util.Map" doc:name="Invoke"/>		
        <logger level="INFO"  doc:name="Logger" message="#[message.payloadAs(java.lang.String)]"/>
        <!-- filter result based on role -->       
    </flow>
    
    <flow name="cosmos-reservation-findById-flow">
    	<logger level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">            
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"id" : flowVars.id
}]]></dw:set-payload>
        </dw:transform-message>				
		<invoke method="findBy" object-ref="cosmosReservationUtil" methodArguments="#[payload]" methodArgumentTypes="java.util.Map" doc:name="Invoke"/>		
        <logger level="INFO"  doc:name="Logger" message="#[message.payloadAs(java.lang.String)]"/>
        <!-- filter result based on role -->
    </flow>
    
    <flow name="cosmos-reservation-save-flow">
    	<object-to-string-transformer doc:name="Object to String"/>
		<invoke method="save" object-ref="cosmosReservationUtil" methodArguments="#[payload]" methodArgumentTypes="java.lang.String" doc:name="Invoke"/>		        
        <!-- filter result based on role -->
        <dw:transform-message doc:name="Transform Message2">
            <dw:input-payload doc:sample="data\reservations\response\response.json"/>
            <dw:set-payload><![CDATA[%dw 1.0                        
%output application/java
---
{
	location: "/reservation/" ++ payload.id
}]]></dw:set-payload>
        </dw:transform-message>	
		<logger level="INFO"  doc:name="Logger" message="#[payload]"/>
		<logger level="INFO"  doc:name="Logger" message="ID: #[payload['location']]"/>   
		<set-property propertyName="location" value=" #[payload['location']]" doc:name="Property" />
		<set-payload value="#[null]" doc:name="Set Payload"/>				           
    </flow>    
    
</mule>
